body{font-family: 'Poppins',sans-serif ;
margin: 0px;
}
    
h1{
    font-size: 50px;
    color: yellowgreen;
}
.half-width{

    width:50%;
    float: left;}
    .half-width img{ width: 100%;}
.top{background-image: url(top-banner.png);
background-repeat: no-repeat;}
p{color: dimgray;}
section{
    height: 600px;
}
.link-button{
    
    background-image:linear-gradient(45deg, lightcoral, tomato);
    text-decoration: none;
    padding: 10px,20px;
    border-radius: 3px;
   margin-left: 7px;
   color: white;
    
}
.down{ 
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
h2{color:rgb(11, 247, 156);}
h3{color: rgb(255, 8, 8);}
.nice-color{color: orange;
}
.singel-experience{
    box-shadow:10px 10px 45px gray;
    border-radius: 5px;
  height:45%;
  width: 45%;
  margin-right: 2%;
  margin-left:0px;
  background-color: white;
}

.Experience-area{
background-image: url(exp-bg.png);
background-repeat: no-repeat;
background-position: left;
background-color: white;
}
#full-stick{
border-left: 7px solid rgb(255, 166, 0);

}
#kapoor{
    border-left:7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    border-radius: 5px;
}
#footer{
    text-align: center;
}